body {
	display: flex;
	flex-direction: column;
}

.main_menu {
	display: flex;
}

.main_menu a {
	display: block;
	margin: 10px;
	text-decoration: none;
}

.main_menu a.active {
	font-weight: bold;
}

.hidden {
	z-index:1;
}

.modal_image {
	position: absolute;
	background-color: white;
	z-index: 5;
	left:5%;
	top: 5%;
	width:90%;
	height:90%;
	padding:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px solid black;
	border-radius:5px;
	justify-content: center;
}

.modal_image .close {
	display:flex;
	cursor: pointer;
	width:100%;
	height: 20px;
	font-weight:bold;
	font-size:1.1rem;
	justify-content: center;
}

.modal_image .close:hover {
	color: red;
}

.modal_image img {
	width: inherit;
}

.div_for_image {
	display:flex;
	align-items: center;
	justify-content: center;
}

#content {
	flex:1;
}

.calc {
	display: flex;
	width: 100%;
	align-items: center;
}

.calc > input, select {
	display: flex;
	width: 100px;
	height: 30px;
	border: 3px solid grey;
	border-radius: 3px;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
	padding-right: 5px;
	
}
.calc_input {padding-left: 5px;}
.calc_input.number_ok {
	border-color: green;
}
.calc_input.number_error {
	border-color: red;
}